@import url('https://fonts.cdnfonts.com/css/space-grotesk');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Space Grotesk', sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  50% {
    transform: translateY(-10px);
  }
}

.float {
  animation: floating 2s ease-in-out infinite!important;
  -webkit-animation: floating 2s ease-in-out infinite!important;
}

.slick-center {
  transform: scale(1.2); /* Optional: Adjust the size of the center item */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) ;
  transition: transform 0.3s ease;
}

/* .hover-effect {
  perspective: 1000px;
  transition: transform 0.3s;
}

.hover-effect:hover {
  transform: rotateX(10deg) rotateY(10deg);
} */

a:focus {
  outline: none;
}

ul{
  color: black;
}